<h1>Onepage#index</h1>
<p>Find me in app/views/onepage/index.html.erb</p>
<%# p current_user %>
<%= content_tag :div,
  id: "currentuser",
  data: current_user.to_json do %>
<% end %>

<%= content_tag :div,
  id: "allusers",
  display: "none",
  data: @users.to_json do %>
<% end %>

<%# p @upcomingevents %>
<%= content_tag :div,
  id: "upcomingevents",
  data: @upcomingevents.to_json do %>
<% end %>

<%= content_tag :div,
  id: "pastevents",
  data: @pastevents.to_json do %>
<% end %>

<%= javascript_pack_tag 'hello_react' %>